.products-informations-steps{
    display: flex;
    padding-top: 27px;
    padding-bottom: 28px;
}

.products-information-container{
    background-color: #FFFFFF;
    padding-left: 220px;
}

.information-title{
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.015em;
    color: #DA5C5C;
    width: 235px;
}

.product-request-steps{
    width: 510px;
}

.button-request{
    width: 410px;
    height: 60px;
    background: #DA5C5C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.button-text{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.number-one{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #DA5C5C;
}

.product-step-description{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;

}