.footer-container{
    height: 85px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000;
    padding-top: 17px;
    padding-bottom: 16px;
}

.icon-container li{
    display: inline-block;
    margin-right: 6px;
    margin-top: 0;
}

.footer-text{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;

}

